@import url("https://fonts.googleapis.com/css2?family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

:root {
  --color-tertiary: #f3e5d8;
  --color-primary: hsl(332, 51%, 32%);
  --color-primary-tint: hsla(332, 51%, 32%, 0.1);
  --color-seconadary: hsl(14, 45%, 36%);
  --color-white: hsl(0, 0%, 100%);
  --text-color: hsl(30, 10%, 34%);
  --text-color-shade: hsl(24, 5%, 18%);
}

/* - White: hsl(0, 0%, 100%)

- Stone 100: hsl(30, 54%, 90%)
- Stone 150: hsl(30, 18%, 87%)
- Stone 600: hsl(30, 10%, 34%)
- Stone 900: hsl(24, 5%, 18%)

- Brown 800: hsl(14, 45%, 36%)

- Rose 800: hsl(332, 51%, 32%)
- Rose 50: hsl(330, 100%, 98%) */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.wrapper {
  width: 50%;
  background-color: var(--color-white);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-radius: 1rem;
}

p {
  margin-block: 1rem;
}

h1,
h3 {
  font-family: "Young Serif serif";
  color: var(--color-seconadary);
}
h1 {
  color: black;
}

h5,
p,
li {
  font-family: "Outfit";
}

p,
li {
  color: var(--text-color);
}

li {
  margin-left: 1rem;
  margin-block: 1rem;
}

td {
  padding-block: 1rem;
}

.preparation-time {
  padding: 0.5rem;
  background-color: var(--color-primary-tint);
  border-radius: 1rem;
}

.ingredients {
}
.instructions {
}
.nutrition {
}
table {
  width: 100%;
}

table tr td {
  border-bottom: solid 1px var(--color-tertiary);
}

.img-container {
  border-radius: 1rem;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

strong {
  color: var(--text-color-shade);
}

td strong {
  color: var(--color-seconadary);
}

@media screen and (max-width: 750px) {
  body {
    padding: 0;
  }
  .wrapper {
    width: 80%;
  }
}

@media screen and (max-width: 375px) {
  body {
    padding: 0;
  }
  .wrapper {
    width: 100%;
    border-radius: 0;
  }
}
